#mainmenu ul{
	clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   width:265px;
   text-align:center;
}

#mainmenu
{
   margin-top: 20pt;
   margin-bottom: 20pt;
   background:#ffffff;
   overflow:hidden;
   position:relative;
}


#mainmenu ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   width:100%;
   padding:0;
   position:relative;
   right:50%;
   margin-bottom: 1px;
}

#mainmenu ul li a
{
   display:block;
   margin:0 0 0 0px;
   padding: 5px 20%;
   background:#eeeeee;
   color:#000;
   text-decoration: none;
   border-style: solid;
   border-color: #00008B;
}

#mainmenu ul li a:hover{
   background:#00008B;
   color:#ffffff;
}

#mainmenu ul li a.active{
   background:#00008B;
   color:#ffffff;
}

#topmatter h1{
	color: #444444;
	background: #ffffff;
}

#topmatterright img{
	display:block;
   float:right;
   margin:0;
   padding:0;
   position:relative;
}

a{
	background: #ffffff;
	color: #000000;
}

#topmatter div{
   display: block;
   max-width: 300px;
}

#topmatter table tbody tr td{
   padding: 20pt;
}

#midtextbox {
   margin:10px;
   /*width: 75%;*/
   max-width: 800px;
   position: middle;
   text-align: left;
}

.socialmediaicons {
   display: table-cell;
   vertical-align: middle;
   text-align: middle;
}